<div class="container">
    <div class="alert alert-danger" ng-show="errorMessage">{{ errorMessage }}</div>
    <div class="alert alert-success" ng-show="successMessage">{{ successMessage }}</div>
    <form ng-submit="save()" role="form">
        <div class="form-group">
            <label for="beername">Name</label>
            <input id="beername" type="text" ng-model="beer.name" placeholder="Enter a name" class="form-control"
                   required ng-disabled="beerId">
        </div>
        <div class="form-group">
            <label for="beer_country">Country</label>
            <input id="beer_country" type="text" placeholder="Enter a country" list="country-list"
                   class="form-control" required ng-model="beer.country">
            <datalist id="country-list">
                <option ng-repeat="country in countries" value="{{ country }}"></option>
            </datalist>
        </div>
        <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading"><h3 class="panel-title">Cost</h3></div>-->
        <!--<div class="panel-body">-->
        <!--<div class="form-group">-->
        <!--<label for="beer_cost_bottle">Bottle</label>-->

        <!--<div class="input-group">-->
        <!--<input id="beer_cost_bottle" type="number" ng-model="beer.cost.bottle" step="any"-->
        <!--class="form-control">-->
        <!--<span class="input-group-addon">€</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="beer_cost_bar">Bar (for a pint)</label>-->

        <!--<div class="input-group">-->
        <!--<input id="beer_cost_bar" type="number" ng-model="beer.cost.bar" step="any"-->
        <!--class="form-control">-->
        <!--<span class="input-group-addon">€</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label for="beerdesc">Description</label>
            <textarea id="beerdesc" type="text" ng-model="beer.description" placeholder="Enter a description"
                      class="form-control" rows="5" required></textarea>
        </div>
        <div class="pull-left">
            <button id="deleteButton" type="button" class="btn btn-danger" ng-show="beerId" ng-click="delete()"
                    data-loading-text="Loading...">Delete
            </button>
        </div>
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Create bottle" ng-show="!beerId"/>
            <button type="button" class="btn btn-info" ng-show="beerId" ng-click="load()">Reload</button>
            <input type="submit" class="btn btn-primary" value="Save" ng-show="beerId"/>
        </div>
    </form>
</div>