<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-thumbnail" src="http://upload.wikimedia.org/wikipedia/commons/d/d6/Champagne_Ruinart.jpg">

            <h2>Meilleur vin</h2>

            <p>En cours</p>

            <p><a class="btn btn-default" href="#/wine/">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-thumbnail" src="http://daviddublin2011.files.wordpress.com/2011/07/guiness-21.jpg">

            <h2>Meilleure bière</h2>

            <p>En cours</p>

            <p><a class="btn btn-default" href="#/beer/">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-thumbnail" src="http://www.nova-epicerie.com/zoom-whisky-big-peat-1764.jpg">

            <h2>Meilleur spiriteux</h2>

            <p>Non implémenté</p>

            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>
    <!-- /.row -->

</div><!-- /.container -->