<!-- Angular JS -->
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

<!-- Angular UI -->
<script src="lib/angular-strap/dist/angular-strap.js"></script>
<script src="lib/angular-strap/dist/angular-strap.tpl.js"></script>

<script src="lib/angular-xeditable/dist/js/xeditable.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="/js/app.js"></script>

<!-- Application Services -->
<script type="text/javascript" src="/js/services/global.js"></script>
<script type="text/javascript" src="/js/services/beers.js"></script>

<!-- Application Controllers -->
<script type="text/javascript" src="/js/controllers/beers.js"></script>
<script type="text/javascript" src="/js/controllers/bottle.js"></script>
<script type="text/javascript" src="/js/controllers/index.js"></script>
<script type="text/javascript" src="/js/controllers/header.js"></script>
<script type="text/javascript" src="/js/init.js"></script>


{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}
