<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <span style="font-size: 30px">Beers</span>
                <button class="btn btn-primary pull-right" style="margin: auto" data-template="views/modal/createBeer.html" bs-modal>Add</button>
            </div>
            <table class="table table-hover">
                <tr style="font-weight: bold">
                    <td>Nom</td>
                    <td>Pays</td>
                    <td>Description</td>
                    <td>Note</td>
                    <td>Supprimer</td>
                </tr>
                <tr ng-repeat="beer in beers">
                    <td> <span editable-text="beer.name" e-form="beerName" ng-click="beerName.$show()" onaftersave="save(beer)">{{ beer.name }}</span></td>
                    <td> <span editable-text="beer.country" e-form="beerCountry" ng-click="beerCountry.$show()" onaftersave="save(beer)">{{ beer.country }}</span></td>
                    <td> <span editable-text="beer.description" e-form="beerDescription" ng-click="beerDescription.$show()" onaftersave="save(beer)">{{ beer.description }}</span></td>
                    <td> <span editable-range="beer.rate" e-min="0" e-max="5" e-step="1" e-form="beerRate" ng-click="beerRate.$show()" onaftersave="save(beer)">{{ beer.rate }}</span></td>
                    <td style="width: 50px"><button class="btn btn-danger pull-right" ng-click="delete(beer)"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <div>
                <span style="font-size: 30px">Wines</span>
                <button class="btn btn-primary pull-right" style="margin: auto" data-template="views/modal/createWine.html" bs-modal>Add</button>
            </div>
            <table class="table table-hover">
                <tr style="font-weight: bold">
                    <td>Nom</td>
                    <td>Type</td>
                    <td>Description</td>
                    <td>Note</td>
                    <td>Supprimer</td>
                </tr>
                <tr ng-repeat="wine in wines">
                    <td> <span editable-text="wine.name" e-form="wineName" ng-click="wineName.$show()" onaftersave="save(wine)">{{ wine.name }}</span></td>
                    <td> <span editable-text="wine.type" e-form="wineType" ng-click="wineType.$show()" onaftersave="save(wine)">{{ wine.type }}</span></td>
                    <td> <span editable-text="wine.description" e-form="wineDescription" ng-click="wineDescription.$show()" onaftersave="save(wine)">{{ wine.description }}</span></td>
                    <td> <span editable-range="wine.rate" e-min="0" e-max="5" e-step="1" e-form="wineRate" ng-click="wineRate.$show()" onaftersave="save(wine)">{{ wine.rate }}</span></td>
                    <td style="width: 50px"><button class="btn btn-danger pull-right" ng-click="delete(wine)"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <span style="font-size: 30px">Bottles - Melange de tout</span>
    </div>
    <table class="table table-hover">
        <tr style="font-weight: bold">
            <td>Nom</td>
            <td>Description</td>
            <td>Note</td>
        </tr>
        <tr ng-repeat="bottle in bottles">
            <td><span ng-bind="bottle.name"></span></td>
            <td><span ng-bind="bottle.description"></span></td>
            <td><span ng-bind="bottle.rate"></span></td>
        </tr>
    </table>
</div>