<div class="section-unit jumbotron" style="background: url('img/jumbo.jpg') center -20px repeat-x; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm" style="margin-top: 50px"></div>
            <span class="col-xs-12 text-center" style="font-size: 80px; color: #7279D8">Best bottle</span>
            <span class="col-xs-12 text-center" style="font-size: 40px; color: #62D99C">Enjoy your life</span>
            <span class="col-xs-12 text-center" style="font-size: 40px; color: #7279D8"><input type="text" placeholder="Search"></span>
            <div class="hidden-xs hidden-sm" style="margin-top: 50px"></div>
        </div>
    </div>
</div>