<div class="modal" tabindex="-1" role="dialog" ng-init="newWine = {}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" ng-submit="createWine(newWine); $hide()">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <h4 class="modal-title">Create new wine</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="create-wine-name">Name</label>
                        <input type="text" required class="form-control" id="create-wine-name" placeholder="Enter name"
                               ng-model="newWine.name">
                    </div>
                    <div class="form-group">
                        <label for="create-wine-type">Type</label>
                        <input type="text" class="form-control" id="create-wine-type" placeholder="Enter type"
                               ng-model="newWine.type">
                    </div>
                    <div class="form-group">
                        <label for="create-wine-description">Description</label>
                        <input type="text" row="3" class="form-control" id="create-wine-description"
                               placeholder="Enter description" ng-model="newWine.description">
                    </div>
                    <div class="form-group">
                        <label for="create-wine-rate">Rate</label>
                        <input type="number" min="0" max="5" required class="form-control" id="create-wine-rate"
                               placeholder="Enter rate" ng-model="newWine.rate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>