<div id="beer-view" class="row" data-ng-init="init()">
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 section-title form-group">
            <label for="beer_title">Nom</label>
            <input type="text" id="beer_title" class="form-control" ng-model="beer.name" placeholder="Nom"></span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-3">
            <div class="thumbnail">
                <img src="img/add_photo.png" class="img-rounded img-responsive">
                <div class="caption clearfix">
                    <button class="btn btn-danger pull-left"><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-cloud-upload"></span></button>
                </div>
            </div>
            <p class="text-center">NOTE : {{beer.rate}} <= STAR REQUIRED => </p>
        </div>
        <div class="col-xs-12 col-sm-9 form-group well well-sm">
            <h3 class="col-xs-12">
                Description
            </h3>
            <div class="col-xs-12">
                <textarea rows="10" class="form-control col-xs-12" ng-model="beer.description"></textarea>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-danger pull-left">Supprimer <span class="glyphicon glyphicon-trash"></span></button>
        <button class="btn btn-success pull-right" ng-click="create()">Sauvegarder <span class="glyphicon glyphicon-ok"></span></button>
    </div>
</div>