<section data-ng-controller="BeersController" data-ng-init="findOne()">
    <span>{{beer.created | date:'medium'}}</span> /
    <span>{{beer.user.name}}</span>
    <h2>{{beer.name}}</h2>
    <div data-ng-show="global.user._id == beer.user._id">
        <a class="btn" href="/#!/beers/{{beer._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{beer.description}}</div>
</section>
