<div id="beer-view" class="row" data-ng-init="init()">
    <form class="form-horizontal" role="form" name="beerForm" style="margin-top: 10px">
        <div class="form-group">
            <label for="beerTitle" class="col-sm-2 control-label">Nom</label>

            <div class="col-sm-10">
                <input type="text" id="beerTitle" class="form-control" ng-model="beer.name" placeholder="Nom"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="beerCountry" class="col-sm-2 control-label">Pays</label>

            <div class="col-sm-10">
                <select id="beerCountry" class="form-control"
                        ng-options="isoCode as name for (isoCode , name) in countries"
                        ng-model="beer.countryCode"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="beerColor" class="col-sm-2 control-label">Couleur</label>

            <div class="col-sm-10">
                <select id="beerColor" class="form-control" ng-model="beer.color"
                        ng-options="color.id as (color.name | translate) for color in colors">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="beerDescription" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                <textarea rows="5" id="beerDescription" class="form-control" ng-model="beer.description"
                          placeholder="Description"></textarea>
            </div>
        </div>
        <button ng-hide="creation" class="btn btn-danger pull-left" ng-click="remove(beer)">
            Supprimer <span class="glyphicon glyphicon-trash"></span>
        </button>
        <a ng-show="creation" class="btn btn-danger pull-left" href="#/beers">Annuler</a>
        <button class="btn btn-success pull-right" ng-click="create()">
            Sauvegarder <span class="glyphicon glyphicon-ok"></span>
        </button>
    </form>
</div>