<div id="beer-view" class="row" data-ng-init="init()">
    <div class="col-xs-12">
        <div class="text-center">
            <span ng-class="getFlagClass(beer.countryCode)"></span>

            <div class="section-title">
                <span ng-bind="beer.name"></span>
            </div>
            <span ng-class="getFlagClass(beer.countryCode)"></span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <h3 class="col-xs-12">
                Description
                <a href="#/beer/{{beer.id}}/edit" class="btn btn-primary pull-right"
                   ng-show="authenticated"><span class="glyphicon glyphicon-pencil"></span></a>
            </h3>

            <p class="well" ng-bind="beer.description"></p>
        </div>
    </div>
    <div class="col-xs-12">
        <a class="btn btn-success pull-right" href="#/beers"><span
                class="glyphicon glyphicon-circle-arrow-left"> Retour</span></a>
    </div>
</div>