<div id="beer-view" class="row" data-ng-init="init()">
    <form role="form" name="beerForm">
        <div class="form-group">
            <label for="beerTitle">Nom</label>
            <input type="text" id="beerTitle" class="form-control" ng-model="beer.name" placeholder="Nom"></span>
        </div>
        <div class="form-group">
            <label for="beerCountry">Pays</label>
            <select id="beerCountry" class="form-control" ng-options="isoCode as name for (isoCode , name) in countries"
                    ng-model="beer.countryCode"></select>
        </div>
        <div class="form-group">
            <label for="beerColor">Couleur</label>
            <select id="beerColor" class="form-control" ng-model="beer.color"
                    ng-options="color.id as (color.name | translate) for color in colors">
            </select>
        </div>
        <div class="form-group">
            <label for="beerDescription">Description</label>
            <textarea rows="5" id="beerDescription" class="form-control" ng-model="beer.description"
                      placeholder="Description"></textarea>
        </div>
        <button ng-hide="creation" class="btn btn-danger pull-left" ng-click="remove(beer)">
            Supprimer <span class="glyphicon glyphicon-trash"></span>
        </button>
        <a ng-show="creation" class="btn btn-danger pull-left" href="#/beers">Annuler</a>
        <button class="btn btn-success pull-right" ng-click="create()">
            Sauvegarder <span class="glyphicon glyphicon-ok"></span>
        </button>
    </form>
</div>